#formularioCompleto {
  background-color: white;
  border-radius: 15px;
  border: 2px black solid;
  max-width: 700px;
  margin: 40px auto;
  padding: 30px;
}

#titulo{
    text-align: left;
}

.fieldset{
    border-radius: 5px;
    border: 1px black solid;
}

#lista{
    list-style: none;
}

.todos-campos{
    padding: 15px;
}

.campos {
    padding: 10px;
   
}
.inputs{
    border: 1px black solid;
    border-radius: 5px;
    padding: 8px;
}
.inputlargo{
    border: 1px black solid;
    border-radius: 5px;
    padding: 8px;
    width: 300px;
}
#opcion{
    padding: 10px;
    border-radius: 5px;
    border: 1px black solid;
}
.validar-pago{
    
    background-color: orange;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px orange;
}
.cancelar{

    background-color: rgb(255, 255, 255);
    color: orange;
    padding: 10px;
    border-radius: 5px;
    border: 1px orange solid;
}
.botones{
   text-align: center;
}

.obligatorio {
    color: red;
}